<h1>Here are all NIRCA Teams</h1>
<%= flash[:error]%>

<h3>If you do not see your team listed, create it by creating the link at the bottom of the page.</h3>
<table>
  <tr>
    <th>School name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.school_name %></td>
<td><%= link_to "Join this team", :action => "join", :id => team, :team_id => team.school_name %>
	<%if team.id = session[:team]%>
    <td><%= link_to 'Show', team %></td>
    
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
