<p id="notice"><%= notice %></p>

<p>
  <b>School name:</b>
  <%= @team.school_name %>
</p>

<p>
	<b>Runners:</b>
	<table>
	<% @runners.each do |runner|%>
	<tr>
	<td><%= runner.name%></td><td><%= link_to "Edit Runner Info", edit_team_runner_path(@team, runner) %> </td><td> <%= link_to "Delete", team_runner_path(@team, runner), :method => :delete, :confirm => "Are you sure you want to do that?" %></td></tr>
	
	<% end %>
	</table>
	
	<%= link_to "Add Runner To Team", new_team_runner_path(@team) %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
