<h1>NIRCA Spring 2012 Track Races</h1>



<% @races.each do |race| %>
<div class="race_info">
	<h3><%= race.name%><h3>
	<%= race.location %><br />
	<%= @team_names[race.team_id]%>
	<span class="edition">
		<%= link_to 'View Details', race %> 
		<% if race.team_id == session[:team]%>
		
		| <%= link_to 'Edit', edit_race_path(race) %> | <%= link_to 'Destroy', race, :confirm => 'Are you sure?', :method => :delete %>
		<%end%>
</div>


 
<% end %>

<br />

<%= link_to 'New Race', new_race_path %>
