<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @race.name %>
</p>

<p>
  <b>Location:</b>
  <%= @race.location %>
</p>

<p>
  <b>Team:</b>
  <%= @race.team_id %>
</p>
<div id="events">
	<h3>Events!</h3>
	<% @race.events.each do |event|%>
	<%= event.name%><br/>
	<% end %>	

	<%= link_to "Add Event", new_race_event_path(@race, @event) %>
</div>
	
	



<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
