<%= form_tag({:controller => "events", :action => "new_event_entry", :method => "POST"}) %>
  <% if @event_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_entry.errors.count, "error") %> prohibited this event_entry from being saved:</h2>

      <ul>
      <% @event_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= @event.name%>
  </div>

  <div class="field">
	<% runner_array = @runners.map { |runner| [runner.first_name + " " +  runner.last_name, runner.first_name + " " + runner.last_name]}%>
   Select the runners competing in this event<br />
    <%= select_tag(:runners, options_for_select(runner_array), :multiple => true) %>
	<%= hidden_field_tag(:event_id, params[:event_id])%>
	<%= hidden_field_tag(:team_id, current_user.team_id)%>
  </div>

  <div class="actions">
    <%= submit_tag("Enter Runners")%>
  </div>

