<%= form_for(@event_entry) do |f| %>
  <% if @event_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_entry.errors.count, "error") %> prohibited this event_entry from being saved:</h2>

      <ul>
      <% @event_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= @event.name%>
  </div>
<% if @event.relay? %>
  <div class="field">
	<% runner_array = @runners.map { |runner| [runner.first_name + " " +  runner.last_name, runner.first_name + " " + runner.last_name]}%>
    <%= f.label :runners%><br />
    <%= f.select(:runners, options_for_select(runner_array)) %>
  </div>
<% else %>
  <div class="field">
	Open Races Coming Soon
	</div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
