<h1>Listing Entries</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Runners</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_entries.each do |event_entry| %>
  <tr>
    <td><%= event_entry.event_id %></td>
    <td><%= event_entry.runners %></td>
    <td><%= link_to 'Show', event_entry %></td>
    <td><%= link_to 'Edit', edit_event_entry_path(event_entry) %></td>
    <td><%= link_to 'Destroy', event_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event entry', new_event_entry_path %>
