<p id="notice"><%= notice %></p>

  <b>Event:</b>
  <%= @event_entry.event_id %>
</p>

<p>
	<b>School:</b>
	<%= @event_entry.team_id%>
	</p>
<p>
  <b>Runners:</b>
  <% @runners.each do |runner|	%>
<%= runner %><br />
	<% end %>

</p>


<%= link_to 'Edit', edit_event_entry_path(@event_entry) %> 
